{% extends "base.html" %}
{% block content %}
            <h2>
                List of All Games!!
                <br />
                <small class="h6 text-body-secondary">total games {{ games|length }}</small>
            </h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Game Category</th>
                        <th>Game Console</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td>{{ game.id }}</td>
                        <td>{{ game.name }}</td>
                        <td>{{ game.category }}</td>
                        <td>{{ game.console }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ url_for('bp_game.edit', id=game.id) }}">Edit</a>
                            <a class="btn btn-danger" href="{{ url_for('bp_game.delete', id=game.id) }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/print" class="btn btn-info">Print</a>
            <a href="/new" class="btn btn-success">New</a>
            <br />
{% endblock %}
