{% extends "base.html" %}
{% block content %}
            <h1>
                Game Choosed:
                <br />
                <small class="h6 text-body-secondary">{{ game }}</small>
                <br />
                {{ game.category }}
                {{ game.console }}
            </h1>
            <form action="{{ url_for('update', id=game.id) }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="id" name="id" value="{{ game.id }}" />
                <fieldset>
                    <div class="form-group">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" id="name" name="name" class="form-control" value="{{ game.name }}" />
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select id="category" name="category" class="form-select" aria-label="Choose a Game Category">
                            <option {% if game.category is not defined %}selected{% endif %}>Choose a Game Category</option>
                            {% for c in categories %}
                            <option value="{{ c[1] }}" {% if c[1] == game.category.value %}selected{% endif %}>{{ c[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="console">Console</label>
                        <select id="console" name="console" class="form-select" aria-label="Choose a Game Console">
                            <option {% if game.console is not defined %}selected{% endif %}>Choose a Game Console</option>
                            {% for c in consoles %}
                            <option value="{{ c[1] }}" {% if c[1] == game.console.value %}selected{% endif %}>{{ c[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
                <br />
                <button type="submit" class="btn btn-warning">Update</button>
            </form>
{% endblock %}
