{% extends "base.html" %}
{% block content %}
            <h2>Simple List of All Games!!</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Game Category</th>
                        <th>Game Console</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td>{{ game.name }}</td>
                        <td>{{ game.category }}</td>
                        <td>{{ game.console }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/print" class="btn btn-info">Print</a>
            <br />
{% endblock %}
