    {% extends "base.html" %}
{% block content %}
            <h2>Games Ordered  by Console.</h2>
            {% for key, item in games.items() %}
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>{{ key }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in item %}
                    <tr><td>{{ game }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
            <hr />
            {% endfor %}
{% endblock %}
