{% extends "base.html" %}
{% block content %}
            <h2>Choose Your Destiny</h2>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                The current link item
              </a>
              <a href="list" class="list-group-item list-group-item-action">List</a>
              <a href="list_by_console" class="list-group-item list-group-item-action">List By Console</a>
              <a href="list_by_console" class="list-group-item list-group-item-action">List By Category</a>
              <a href="new" class="list-group-item list-group-item-action">New</a>
              <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
            </div>
{% endblock %}
